fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
pydantic[email]
celery
upstash-redis
redis
requests
beautifulsoup4
playwright
langchain-text-splitters
sentence-transformers
chromadb
chromadb-client
groq
httpx
python-multipart
